 body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 }

 


#about-section {
    transition: transform 0.4s cubic-bezier(0.47, 0, 0.745, 0.715);
}
#about-section span {
    position: absolute;
    margin-top: 50px;
    margin-left: -60px;
    
}

#about-section:hover {
    -webkit-transform: scale3d(1.5,1.5,1.5);
    transform: scale3d(1.5);
}

#skills-section {
    transition: transform 0.4s cubic-bezier(0.47, 0, 0.745, 0.715);
}

#skills-section span {
    position: absolute;
    margin-top: 73px;
    margin-left: -62px;

}

#skills-section:hover {
    -webkit-transform: scale3d(1.5,1.5,1.5);
    transform: scale3d(1.5);
}


#projects-section {
    transition: transform 0.4s cubic-bezier(0.47, 0, 0.745, 0.715);
}

#projects-section span {
    position: absolute;
    margin-top: 50px;
    margin-left: -60px;

}
#projects-section:hover {
    -webkit-transform: scale3d(1.5,1.5,1.5);
    transform: scale3d(1.5);
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    font-weight: 500;
    justify-content: center;
}

.flex-container > div {
    width: 100px;
    margin: 20px;
    text-align: center;
    line-height: 75px;
}


#skills {
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 0;
    padding-bottom:0;
}

.grey-box {
    background: #c9c9c9c9;
    float: left;
    left: 0;
    border-radius: 15px;

}
section * {
    text-align: center;
    justify-content: center;
    overflow-wrap: break-word;

}

section {
    text-align: center;
    justify-content: center;
    overflow-wrap: break-word;
   
}

.skillset {
    margin: 0px 13px;

}

h1 {
    color: #dfdfdf;
    font-size: 32px;
    font-weight: 500;
    text-decoration: underline;
    text-decoration-color: #FE6845;
    text-underline-position: under right;
}


figure {
    background: rgba(0,0,0,0.4);
    border-radius: 15px;
    width: 30%;
}

figure img {
    padding-top: 5px;
}


figcaption {
    font-weight: 400;
    font-size: 25px;
    text-align: center;
    color: ivory;
    padding-bottom: 25px;
}

figure span {
    text-align: left !important;
    color: ivory;
}

#projects {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
}

.current-projects {
    margin-left: 0 25px;

}
.current-projects + .current-projects {
    margin: 0 100px;   
}

#main-content {
    background: #3A3535;
    color: #f4f3f3;
}

#main-content .two-columns-content {
    display: flex;
    width: 100%;

}

#main-content .two-columns-content h2 {
    margin: 25px 140px;

    
}

#main-content .two-columns-content p {
    margin: 0px 10px;
    word-wrap: break-word;
    width: 100%;
    color: ivory;

}
a {
    text-decoration: none;

}

h2 {
    color: #dfdfdf;

}

#about-me {
    margin-left: 100px;
    width: 85%;
    word-wrap: break-word;
    text-align: center;
    justify-content: center;
    padding-bottom: 15px;
}

hr {

    margin-top: 75px;
    border: 0 none;
    height: .8px;
    color: rgba(58,53,53,.7);
    background-color: white;
}

.footer-row {
    width: 100%;
    position:relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.copyright-text {
    position: relative;
    margin-left: 39%;
    top: 60%;
}

.social-icons {
    padding-left: 75px;
    margin-bottom: 0;
    list-style: none;

}

.social-icons li {
    display: inline-block;
    margin: 0px 3px;
}
.social-icons a {
    background-color: #3A3535;
    color: ivory;
    font-size: 45px;
    display: inline-block;
    transition: all .2 linear;

}

.social-icons a.linkedin:hover {
    color:#007bb6;
}
.social-icons a.gmail:hover {
    color: #D44638;
}
